In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
traffic_file = "project_data.csv"

# Read Purchasing File and store into Pandas data frame
traffic_df = pd.read_csv(traffic_file)

traffic_df.head()

,ACC_ID,ROAD_NO,ROAD_NAME,LONGITUDE,LATITUDE,CRASH_DATE,CRASH_TIME,SEVERITY,EVENT_NATURE,EVENT_TYPE,TOTAL_BIKE_INVOLVED,TOTAL_TRUCK_INVOLVED,TOTAL_HEAVY_TRUCK_INVOLVED,TOTAL_MOTOR_CYCLE_INVOLVED,TOTAL_OTHER_VEHICLES_INVOLVED,TOTAL_PEDESTRIANS_INVOLVED
0,9227453,10355,Povah Rd,122.229302,-17.929427,1/1/16,200.0,PDO Minor,Hit Object,NaN,0,0,0,0,0,0
1,9227808,1020997,Abernethy Rd,115.987176,-31.963001,1/1/16,0.0,PDO Major,Hit Object,NaN,0,0,0,0,0,0
2,9237537,1080305,Ray Cl,116.019921,-32.214429,1/1/16,1910.0,Medical,Hit Pedestrian,Involving Pedestrian,0,0,0,0,1,1
3,9237543,1260018,Clydesdale St,115.861867,-32.007798,1/1/16,NaN,PDO Major,Non Collision,NaN,0,0,0,0,1,0
4,9237547,1070128,Warnbro Sound Av,115.759332,-32.335668,1/1/16,135.0,PDO Major,Hit Object,NaN,0,0,0,0,1,0

In [13]:
# converting date column to date month year 

traffic_df[["day", "month", "year"]] = traffic_df["CRASH_DATE"].str.split("/", expand = True)
traffic_df.info()
traffic_df.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 136676 entries, 1970-01-01 00:00:00 to 1970-01-01 00:00:00.000136675
Data columns (total 19 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   ACC_ID                         136676 non-null  int64
 1   ROAD_NO                        136676 non-null  object
 2   ROAD_NAME                      136676 non-null  object
 3   LONGITUDE                      136676 non-null  float64
 4   LATITUDE                       136676 non-null  float64
 5   CRASH_DATE                     136676 non-null  object
 6   CRASH_TIME                     136344 non-null  float64
 7   SEVERITY                       136676 non-null  object
 8   EVENT_NATURE                   128771 non-null  object
 9   EVENT_TYPE                     35188 non-null   object
 10  TOTAL_BIKE_INVOLVED            136676 non-null  int64
 11  TOTAL_TRUCK_INVOLVED           136676 non-null  int64
 12  TOTAL_HEAVY_TRUCK_INVOLVED     136676 non-null  int64
 13  TOTAL_MOTOR_CYCLE_INVOLVED     136676 non-null  int64
 14  TOTAL_OTHER_VEHICLES_INVOLVED  136676 non-null  int64
 15  TOTAL_PEDESTRIANS_INVOLVED     136676 non-null  int64
 16  day                            136676 non-null  object
 17  month                          136676 non-null  object
 18  year                           136676 non-null  object
dtypes: float64(3), int64(7), object(9)
memory usage: 20.9+ MB

,ACC_ID,ROAD_NO,ROAD_NAME,LONGITUDE,LATITUDE,CRASH_DATE,CRASH_TIME,SEVERITY,EVENT_NATURE,EVENT_TYPE,TOTAL_BIKE_INVOLVED,TOTAL_TRUCK_INVOLVED,TOTAL_HEAVY_TRUCK_INVOLVED,TOTAL_MOTOR_CYCLE_INVOLVED,TOTAL_OTHER_VEHICLES_INVOLVED,TOTAL_PEDESTRIANS_INVOLVED,day,month,year
1970-01-01 00:00:00.000000000,9227453,10355,Povah Rd,122.229302,-17.929427,1/1/16,200.0,PDO Minor,Hit Object,NaN,0,0,0,0,0,0,1,1,16
1970-01-01 00:00:00.000000001,9227808,1020997,Abernethy Rd,115.987176,-31.963001,1/1/16,0.0,PDO Major,Hit Object,NaN,0,0,0,0,0,0,1,1,16
1970-01-01 00:00:00.000000002,9237537,1080305,Ray Cl,116.019921,-32.214429,1/1/16,1910.0,Medical,Hit Pedestrian,Involving Pedestrian,0,0,0,0,1,1,1,1,16
1970-01-01 00:00:00.000000003,9237543,1260018,Clydesdale St,115.861867,-32.007798,1/1/16,NaN,PDO Major,Non Collision,NaN,0,0,0,0,1,0,1,1,16
1970-01-01 00:00:00.000000004,9237547,1070128,Warnbro Sound Av,115.759332,-32.335668,1/1/16,135.0,PDO Major,Hit Object,NaN,0,0,0,0,1,0,1,1,16

In [46]:
traffic_df["TOTAL_MOTOR_CYCLE_INVOLVED"].value_counts()
#traffic_df["TOTAL_BIKE_INVOLVED"].value_counts()
traffic_df["TOTAL_OTHER_VEHICLES_INVOLVED"].value_counts()
round(traffic_df["LATITUDE"],1).value_counts()

2    81794
1    40759
0     6671
3     6302
4      941
5      168
6       33
7        6
8        1
9        1
Name: TOTAL_OTHER_VEHICLES_INVOLVED, dtype: int64

In [ ]:
traffic_df.groupby

In [58]:
## TO-DO/EXPLORE >> This is just to explore the pattern/relationship between variable to see what is happening (the overall picture) after that we can hypothesis/test these relationships and weather they have a significant impact on accidents 

# Merge speed limit to get suburb

    # Yearly pattern of accidents 

traffic_df['year'].replace({"16":"2016","17": "2017", "18": "2018", "19": "2019", "20": "2020"}, inplace=True)

traffic_df["year"].value_counts()

year_incident = traffic_df["year"].value_counts()

year_incident_df = pd.DataFrame({"Traffic Incidents": year_incident,})

year_incident_df 

    # Pattern of accident by season/months # if i count how many months thats how many crash because each entry is a crash

traffic_df['month'].replace({"1":"Jan","2": "Feb", "3": "Mar", "4": "Apr", "5": "May", "6": "Jun", "7": "Jul", "8": "Aug", "9": "Sep", "10": "Oct", "11": "Nov", "12": "Dec"}, inplace=True)

traffic_df["month"].value_counts()

month_incident = traffic_df["month"].value_counts()

month_incident_df =pd.DataFrame({"Traffic Incidents": month_incident,})
month_incident_df

    # Patterns of accident by day/night # use bin function to separate in 3 hour intervals -- > SUCCESS

time_bins = [0, 359, 659, 959, 1259, 1559, 1859, 2159, 2359]
time_names = ["0-3", "4-6", "7-9", "10-12", "13-15", "16-18", "19-21", "22-24"]

group_time_df = traffic_df
group_time_df["Time Interval"] = pd.cut(group_time_df["CRASH_TIME"],time_bins, labels=time_names)
group_time_df

group_time_df["Time Interval"].value_counts()

16-18    33435
13-15    29911
7-9      24744
10-12    23769
19-21    10713
4-6       6425
22-24     3950
0-3       3144
Name: Time Interval, dtype: int64

In [65]:
# Month but group by year 

by_year_df = traffic_df.groupby('year')

In [67]:
month_incident_df

     Traffic Incidents
Mar              12300
Aug              12244
May              12065
Jul              11794
Nov              11643
Jun              11635
Oct              11509
Feb              11465
Dec              11259
Sep              10944
Jan               9965
Apr               9853

In [ ]:
## ^^ Try and do groupby.severity

# How the accidents are in relation to: 
    
    # Year (time series) 

    # Season/months 

    # Day/night 

#Vehicle type (motorcycle/truck/car - other vehicle) - this can also link to cause potentially

    # Day/night 

    # Season/month
    
    # Year 

# Idea, if we can incorporate a colour map