In [22]:
# Dependencies and Setup
import pandas as pd
import seaborn as sns


# File to Load (Remember to Change These)
traffic_file = "project_data.csv"

# Read Purchasing File and store into Pandas data frame
traffic_df = pd.read_csv(traffic_file)

traffic_df.head(2)

,ACC_ID,ROAD_NO,ROAD_NAME,LONGITUDE,LATITUDE,CRASH_DATE,CRASH_TIME,SEVERITY,EVENT_NATURE,EVENT_TYPE,TOTAL_BIKE_INVOLVED,TOTAL_TRUCK_INVOLVED,TOTAL_HEAVY_TRUCK_INVOLVED,TOTAL_MOTOR_CYCLE_INVOLVED,TOTAL_OTHER_VEHICLES_INVOLVED,TOTAL_PEDESTRIANS_INVOLVED
0,9227453,10355,Povah Rd,122.229302,-17.929427,1/1/16,200.0,PDO Minor,Hit Object,NaN,0,0,0,0,0,0
1,9227808,1020997,Abernethy Rd,115.987176,-31.963001,1/1/16,0.0,PDO Major,Hit Object,NaN,0,0,0,0,0,0

In [23]:
traffic_df=traffic_df[["ROAD_NO","ROAD_NAME","LONGITUDE","LATITUDE","CRASH_DATE","CRASH_TIME","SEVERITY",\
    "TOTAL_BIKE_INVOLVED","TOTAL_TRUCK_INVOLVED","TOTAL_HEAVY_TRUCK_INVOLVED","TOTAL_MOTOR_CYCLE_INVOLVED","TOTAL_OTHER_VEHICLES_INVOLVED",\
    "TOTAL_PEDESTRIANS_INVOLVED"]]
traffic_df.head()

,ROAD_NO,ROAD_NAME,LONGITUDE,LATITUDE,CRASH_DATE,CRASH_TIME,SEVERITY,TOTAL_BIKE_INVOLVED,TOTAL_TRUCK_INVOLVED,TOTAL_HEAVY_TRUCK_INVOLVED,TOTAL_MOTOR_CYCLE_INVOLVED,TOTAL_OTHER_VEHICLES_INVOLVED,TOTAL_PEDESTRIANS_INVOLVED
0,10355,Povah Rd,122.229302,-17.929427,1/1/16,200.0,PDO Minor,0,0,0,0,0,0
1,1020997,Abernethy Rd,115.987176,-31.963001,1/1/16,0.0,PDO Major,0,0,0,0,0,0
2,1080305,Ray Cl,116.019921,-32.214429,1/1/16,1910.0,Medical,0,0,0,0,1,1
3,1260018,Clydesdale St,115.861867,-32.007798,1/1/16,NaN,PDO Major,0,0,0,0,1,0
4,1070128,Warnbro Sound Av,115.759332,-32.335668,1/1/16,135.0,PDO Major,0,0,0,0,1,0

In [33]:
traffic_for_speed=pd.DataFrame(traffic_df["ROAD_NO"])

speed_limit=pd.read_csv("Legal_Speed_Limits.csv")
speed_limit.head(2)

speed_df=pd.DataFrame({"ROAD_NO":speed_limit["ROAD"],"SPEED LIMIT":speed_limit["SPEED_LIMIT"]})
speed_df

merged_df = pd.merge(traffic_for_speed, speed_df, how="left", on="ROAD_NO")
merged_df["SPEED LIMIT"].value_counts()
cleaned_speed=merged_df['SPEED LIMIT'].loc[merged_df['SPEED LIMIT']!="50km/h applies in built up areas or 110km/h outside built up areas"]
# clean_df['SPEED LIMIT']=clean_df['SPEED LIMIT'].str.replace("km/h"," ")
cleaned_speed=cleaned_speed.str.replace("km/h"," ")


cleaned_speed=cleaned_speed.astype(float)

speedlimit_df=pd.DataFrame(cleaned_speed)
speedlimit_df["SEVERITY"]=traffic_df["SEVERITY"]
speedlimit_df=speedlimit_df.dropna()
speedlimit_df.groupby(["SEVERITY"])["SPEED LIMIT"].value_counts()

SEVERITY   SPEED LIMIT
Fatal      60.0             211
           80.0             141
           110.0            138
           70.0             108
           100.0             62
           90.0              46
           50.0              14
           40.0              10
           30.0               1
Hospital   60.0            2037
           80.0            1321
           110.0           1182
           70.0             868
           100.0            580
           90.0             548
           50.0             134
           40.0              52
           30.0               9
           10.0               2
Medical    60.0            5043
           80.0            3300
           110.0           3118
           70.0            2389
           100.0           1525
           90.0            1323
           50.0             366
           40.0             132
           30.0              22
           20.0               4
           10.0               2
PDO Major  60.0           20565
           80.0           13952
           110.0          12325
           70.0            9865
           100.0           6396
           90.0            5717
           50.0            1293
           40.0             473
           30.0              81
           10.0              19
           20.0               5
PDO Minor  60.0           10804
           80.0            7134
           110.0           6434
           70.0            5213
           100.0           3350
           90.0            3099
           50.0             694
           40.0             268
           30.0              46
           10.0              11
           20.0               7
Name: SPEED LIMIT, dtype: int64

In [9]:
traffic_df["LATITUDE"]=round(traffic_df["LATITUDE"],1)
traffic_df["LONGITUDE"]=round(traffic_df["LONGITUDE"],1)
traffic_df

,ACC_ID,ROAD_NO,ROAD_NAME,LONGITUDE,LATITUDE,CRASH_DATE,CRASH_TIME,SEVERITY,EVENT_NATURE,EVENT_TYPE,TOTAL_BIKE_INVOLVED,TOTAL_TRUCK_INVOLVED,TOTAL_HEAVY_TRUCK_INVOLVED,TOTAL_MOTOR_CYCLE_INVOLVED,TOTAL_OTHER_VEHICLES_INVOLVED,TOTAL_PEDESTRIANS_INVOLVED,day,month,year
0,9227453,10355,Povah Rd,122.2,-17.9,1/1/16,200.0,PDO Minor,Hit Object,NaN,0,0,0,0,0,0,1,1,16
1,9227808,1020997,Abernethy Rd,116.0,-32.0,1/1/16,0.0,PDO Major,Hit Object,NaN,0,0,0,0,0,0,1,1,16
2,9237537,1080305,Ray Cl,116.0,-32.2,1/1/16,1910.0,Medical,Hit Pedestrian,Involving Pedestrian,0,0,0,0,1,1,1,1,16
3,9237543,1260018,Clydesdale St,115.9,-32.0,1/1/16,NaN,PDO Major,Non Collision,NaN,0,0,0,0,1,0,1,1,16
4,9237547,1070128,Warnbro Sound Av,115.8,-32.3,1/1/16,135.0,PDO Major,Hit Object,NaN,0,0,0,0,1,0,1,1,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136671,10392650,H624,Vincent St on to Mitchell Fwy (Northbound),115.8,-31.9,31/12/20,1735.0,PDO Major,Right Angle,NaN,0,0,0,0,2,0,31,12,20
136672,10392913,H032,South St,115.9,-32.1,31/12/20,1430.0,PDO Major,Right Angle,NaN,0,0,0,0,2,0,31,12,20
136673,10421350,H009,South Western Hwy,117.3,-35.0,31/12/20,1030.0,Medical,Rear End,NaN,0,0,0,0,2,0,31,12,20
136674,10430488,1300280,Fitzgerald St,115.9,-31.9,31/12/20,540.0,Medical,Non Collision,NaN,0,0,0,0,1,0,31,12,20
136675,10440919,4290023,Kelliher Rd,117.6,-33.0,31/12/20,1610.0,Medical,NaN,NaN,0,0,0,0,1,0,31,12,20

In [3]:
# converting date column to date month year 

traffic_df[["day", "month", "year"]] = traffic_df["CRASH_DATE"].str.split("/", expand = True)
traffic_df.info()
traffic_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136676 entries, 0 to 136675
Data columns (total 19 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   ACC_ID                         136676 non-null  int64
 1   ROAD_NO                        136676 non-null  object
 2   ROAD_NAME                      136676 non-null  object
 3   LONGITUDE                      136676 non-null  float64
 4   LATITUDE                       136676 non-null  float64
 5   CRASH_DATE                     136676 non-null  object
 6   CRASH_TIME                     136344 non-null  float64
 7   SEVERITY                       136676 non-null  object
 8   EVENT_NATURE                   128771 non-null  object
 9   EVENT_TYPE                     35188 non-null   object
 10  TOTAL_BIKE_INVOLVED            136676 non-null  int64
 11  TOTAL_TRUCK_INVOLVED           136676 non-null  int64
 12  TOTAL_HEAVY_TRUCK_INVOLVED     136676 non-null  int64
 13  TOTAL_MOTOR_CYCLE_INVOLVED     136676 non-null  int64
 14  TOTAL_OTHER_VEHICLES_INVOLVED  136676 non-null  int64
 15  TOTAL_PEDESTRIANS_INVOLVED     136676 non-null  int64
 16  day                            136676 non-null  object
 17  month                          136676 non-null  object
 18  year                           136676 non-null  object
dtypes: float64(3), int64(7), object(9)
memory usage: 19.8+ MB

,ACC_ID,ROAD_NO,ROAD_NAME,LONGITUDE,LATITUDE,CRASH_DATE,CRASH_TIME,SEVERITY,EVENT_NATURE,EVENT_TYPE,TOTAL_BIKE_INVOLVED,TOTAL_TRUCK_INVOLVED,TOTAL_HEAVY_TRUCK_INVOLVED,TOTAL_MOTOR_CYCLE_INVOLVED,TOTAL_OTHER_VEHICLES_INVOLVED,TOTAL_PEDESTRIANS_INVOLVED,day,month,year
0,9227453,10355,Povah Rd,122.229302,-17.929427,1/1/16,200.0,PDO Minor,Hit Object,NaN,0,0,0,0,0,0,1,1,16
1,9227808,1020997,Abernethy Rd,115.987176,-31.963001,1/1/16,0.0,PDO Major,Hit Object,NaN,0,0,0,0,0,0,1,1,16
2,9237537,1080305,Ray Cl,116.019921,-32.214429,1/1/16,1910.0,Medical,Hit Pedestrian,Involving Pedestrian,0,0,0,0,1,1,1,1,16
3,9237543,1260018,Clydesdale St,115.861867,-32.007798,1/1/16,NaN,PDO Major,Non Collision,NaN,0,0,0,0,1,0,1,1,16
4,9237547,1070128,Warnbro Sound Av,115.759332,-32.335668,1/1/16,135.0,PDO Major,Hit Object,NaN,0,0,0,0,1,0,1,1,16

In [4]:
traffic_df["TOTAL_MOTOR_CYCLE_INVOLVED"].value_counts()
#traffic_df["TOTAL_BIKE_INVOLVED"].value_counts()
traffic_df["TOTAL_OTHER_VEHICLES_INVOLVED"].value_counts()
round(traffic_df["LATITUDE"],1).value_counts()

# traffic_df.groupby

-31.9    38071
-32.0    33877
-32.1    18964
-31.8    11004
-31.7     4446
         ...
-19.2        1
-24.3        1
-24.0        1
-19.4        1
-16.1        1
Name: LATITUDE, Length: 194, dtype: int64

In [ ]:
## TO-DO/EXPLORE >> This is just to explore the pattern/relationship between variable to see what is happening (the overall picture) after that we can hypothesis/test these relationships and weather they have a significant impact on accidents 

# How to round/Lat-lon to narrow down traffic zones (at the moment round to 1)

# Explore the relationships between the roads/suburb (lat/lon) and: 

    # Yearly pattern of accidents 

    # Pattern of accident by season/months 

    # Patterns of accident by day/night # use bin function to separate in 3 hour intervals -- > 

## ^^ Try and do groupby.severity

# How the accidents are in relation to: 
    
    # Year (time series) 

    # Season/months 

    # Day/night 

#Vehicle type (motorcycle/truck/car - other vehicle) - this can also link to cause potentially

    # Day/night 

    # Season/month
    
    # Year 

# Idea, if we can incorporate a colour map